.flow {
  > * + * {
    --flow-space-top: 1.5rem;
    --flow-space-bottom: 0;

    margin-bottom: var(--flow-space-bottom);
    margin-top: var(--flow-space-top);
  }
}


.flow-space-y-lg {
  --flow-space-top: 2rem;
  --flow-space-bottom: 2rem;

  @media (min-width: 64rem) {
    --flow-space-top: 4rem;
    --flow-space-bottom: 4rem;
  }
}
